-
	const aboutSlides = [
		{
			title: `Техническая оснащенность компании и опыт ее специалистов позволяет
			использовать самый широкий спектр материалов:`,
			list: [
				'ламинированную плиту ДСП, МДФ, пластики',
				'черные и цветные металлы',
				'архитектурное и мебельное стекло, искусственный и натуральный камень',
				'натуральное дерево и шпон',
				'композитные материалы',
				'акриловые и металлизированные пластики',
			],
			image: {
				src: 'images/about-swiper01.jpg',
				alt: '',
			},
		},
		{
			title: `Техническая оснащенность компании и опыт ее специалистов позволяет
			использовать самый широкий спектр материалов:`,
			list: [
				'ламинированную плиту ДСП, МДФ, пластики',
				'черные и цветные металлы',
				'архитектурное и мебельное стекло, искусственный и натуральный камень',
				'натуральное дерево и шпон',
				'композитные материалы',
				'акриловые и металлизированные пластики',
			],
			image: {
				src: 'images/about-swiper01.jpg',
				alt: '',
			},
		},
		{
			title: `Техническая оснащенность компании и опыт ее специалистов позволяет
			использовать самый широкий спектр материалов:`,
			list: [
				'ламинированную плиту ДСП, МДФ, пластики',
				'черные и цветные металлы',
				'архитектурное и мебельное стекло, искусственный и натуральный камень',
				'натуральное дерево и шпон',
				'композитные материалы',
				'акриловые и металлизированные пластики',
			],
			image: {
				src: 'images/about-swiper01.jpg',
				alt: '',
			},
		},
		{
			title: `Техническая оснащенность компании и опыт ее специалистов позволяет
			использовать самый широкий спектр материалов:`,
			list: [
				'ламинированную плиту ДСП, МДФ, пластики',
				'черные и цветные металлы',
				'архитектурное и мебельное стекло, искусственный и натуральный камень',
				'натуральное дерево и шпон',
				'композитные материалы',
				'акриловые и металлизированные пластики',
			],
			image: {
				src: 'images/about-swiper01.jpg',
				alt: '',
			},
		},
		{
			title: `Техническая оснащенность компании и опыт ее специалистов позволяет
			использовать самый широкий спектр материалов:`,
			list: [
				'ламинированную плиту ДСП, МДФ, пластики',
				'черные и цветные металлы',
				'архитектурное и мебельное стекло, искусственный и натуральный камень',
				'натуральное дерево и шпон',
				'композитные материалы',
				'акриловые и металлизированные пластики',
			],
			image: {
				src: 'images/about-swiper01.jpg',
				alt: '',
			},
		},
	];

section.about
	div.about__container.container
		div.about__crumbs.crumbs
			a(href="index.html")
				span Главная
				svg(width="12", height="8", aria-hidden="true")
					use(xlink:href="images/sprite-mono.svg#mono--arrow-right-small")
			span О компании
		h1.about__title.title: span О компании
		div.about__info-wrapper
			p.about__sub-title.
				Компания ТПК — обеспечивает весь комплекс работ по созданию современного интерьера.
			p.about__description.
				Собственное современное многопрофильное производство позволяет компании оперативно
				и качественно реализовывать разработки своих дизайнеров, превращая их в высококачественные
				изделия любой сложности, от уникальных индивидуальных конструкций для эксклюзивных объектов
				до типовых и серийных изделий эконом класса.
	div.about__logo
		img(src="images/logo.svg", alt="Логотип СВК ГРУППА")
	div.about__container.container
		div.about__swiper.swiper
			ul.about__swiper-wrapper.swiper-wrapper
				each slide in aboutSlides
					li.slide-about.swiper-slide
						h2: span!= slide.title
						ul
							each item in slide.list
								li!= item
						div.slide-about__image
							img(src=slide.image.src, alt=slide.image.alt)
			div.about__swiper-dots

	include question
