section.not-found
	div.not-found__container.container
		div.not-found__card
			h1.not-found__title
				b 404
				span Страница не найдена!
			p.not-found__sub-title Вы можете вернуться на главную страницу сайта или взглянуть на наш <a href="index.html">список товаров</a>
			a.not-found__return.button(href="index.html")
				span На главную
				svg(width="38", height="12", aria-hidden="true")
					use(xlink:href="images/sprite-mono.svg#mono--arrow-right-big")
	div.not-found__decor.not-found__decor--small
	div.not-found__decor.not-found__decor--big
