@media (min-width: 1280px) {
	// CONSTRUCTOR
	.constructor {
		display: grid;
	}

	.constructor__container {
		display: grid;
		align-items: start;
		height: 100%;
	}

	.constructor__sticky {
		position: sticky;
		top: 128px;
		display: grid;
		grid-column-gap: 40px;
		grid-template-columns: 1fr 1fr;
		height: calc(100vh - 128px);

		@media (max-width: 1399px) {
			top: 96px;
			height: calc(100vh - 96px);
		}

		@media (max-width: 1023px) {
			top: 64px;
			height: calc(100vh - 64px);
		}

		@media (max-width: 767px) {
			grid-row-gap: 20px;
			grid-template-columns: 1fr;
		}
	}

	.constructor__list {
		--width: 100%;
		position: relative;
		display: grid;
		list-style: none;
		margin: 0;
		padding: 0;
		width: var(--width);
		height: 100%;

		@media (max-width: 767px) {
			justify-self: center;
			max-width: 480px;
		}
	}

	.constructor__item {
		position: relative;
		display: grid;
		align-items: center;
		align-self: center;
		grid-column: 1/2;
		grid-row: 1/2;
		overflow: hidden;
		width: 100%;
		opacity: 0;

		img {
			width: 100%;
			max-width: 730px;
		}

		&--active {
			opacity: 1;
		}

		@media (max-width: 1399px) {
			img {
				max-width: 480px;
			}
		}
	}

	.constructor__swiper {
		display: grid;
		align-content: center;
		justify-self: center;
		max-width: 560px;
	}

	.constructor__wrapper {
		overflow: hidden;
	}

	.constructor__slides {
		position: relative;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.constructor__slide {
		position: relative;
		left: 0;
		top: 0;
		display: grid;
		flex-shrink: 0;
		max-width: 100%;

		h3 {
			margin: 0 0 50px;
			font-family: $accent-font;
			font-weight: 400;
			font-size: 70px;
			line-height: 90px;
		}

		div {
			display: grid;
			align-items: start;
			grid-row-gap: 20px;
			margin: 0 0 20px;
			min-height: 180px;
			max-width: 540px;

			h3 {
				margin: 0;
				font-family: $accent-font;
				font-weight: 400;
				font-size: 70px;
				line-height: 90px;
			}

			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 38px;
				line-height: 52px;
			}

			a,
			button {
				border: none;
				padding: 0;
				font-weight: 800;
				font-size: 16px;
				line-height: 22px;
				color: unset;
				background-color: transparent;
			}

			big {
				font-weight: 500;
				font-size: 24px;
				line-height: 40px;
			}

			small {
				font-weight: 500;
				font-size: 16px;
				line-height: 22px;
			}

			p {
				margin: 0;
				font-weight: 500;
				font-size: 20px;
				line-height: 27px;
			}

			ul {
				display: grid;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					position: relative;
					display: block;
					padding-left: 24px;
					font-weight: 500;
					font-size: 20px;
					line-height: 27px;

					&::before {
						content: "";
						position: absolute;
						left: 2px;
						top: 10px;
						border-radius: 50%;
						width: 6px;
						height: 6px;
						background-color: $default-color;
					}
				}
			}

			ol {
				counter-reset: list;
				display: grid;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					position: relative;
					display: block;
					padding-left: 24px;
					font-weight: 500;
					font-size: 20px;
					line-height: 27px;

					&::before {
						counter-increment: list;
						content: counter(list) ".";
						position: absolute;
						left: 0;
						top: 0;
						font-weight: 500;
						font-size: 20px;
						line-height: 27px;
					}
				}
			}

			b {
				font-weight: 700;
				font-size: 20px;
				line-height: 27px;
			}

			u {
				font-weight: 500;
				font-size: 20px;
				line-height: 27px;
			}

			@media (max-width: 1399px) {
				grid-row-gap: 12px;

				p {
					font-size: 16px;
					line-height: 24px;
				}

				b {
					font-size: 16px;
					line-height: 24px;
				}

				u {
					font-size: 16px;
					line-height: 24px;
				}

				ol {
					li {
						font-size: 16px;
						line-height: 24px;

						&::before {
							font-size: 16px;
							line-height: 24px;
						}
					}
				}

				ul {
					li {
						font-size: 16px;
						line-height: 24px;
					}
				}

				a,
				button {
					font-size: 16px;
					line-height: 22px;
				}

				big {
					font-size: 20px;
					line-height: 28px;
				}

				small {
					font-weight: 500;
					font-size: 14px;
					line-height: 22px;
				}

				h3 {
					font-size: 50px;
					line-height: 70px;
				}

				h4 {
					font-size: 28px;
					line-height: 40px;
				}
			}
		}

		@media (max-width: 1399px) {
			h3 {
				margin: 0 0 32px;
				font-size: 50px;
				line-height: 70px;
			}

			div {
				display: grid;
				align-items: start;
				grid-row-gap: 10px;
				margin: 0 0 20px;
				min-height: 180px;
				max-width: 540px;
			}
		}
	}

	.constructor__info {
		display: grid;
	}

	.constructor__dots {
		display: grid;
		margin: 0 0 16px;

		span {
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			opacity: .6;
		}
	}

	.constructor__progress {
		position: relative;
		display: grid;
		height: 2px;
		background-color: rgba(45, 45, 45, .1);

		span {
			position: absolute;
			left: 0;
			top: 0;
			height: 2px;
			background-color: $accent-color;
		}
	}

	.constructor__position {
		position: absolute;
		right: 0;
		top: 0;
		display: grid;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 72px;
		height: 72px;
		background-color: $accent-color;

		span {
			font-weight: 500;
			font-size: 28px;
			line-height: 38px;
			color: $alternate-color;
		}

		@media (max-width: 1023px) {
			width: 64px;
			height: 64px;

			span {
				font-size: 20px;
				line-height: 28px;
			}
		}

		@media (max-width: 1023px) {
			width: 40px;
			height: 40px;

			span {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}

@media (max-width: 1279px) {
	.constructor {
		display: none;
	}
}
