// PREVIEW
.preview {
	position: relative;
	display: grid;

	@media (min-width: 1400px) {
		margin: 0 0 132px;
	}

	@media (max-width: 1399px) {
		margin: 0 0 64px;
	}

	@media (max-width: 1023px) {
		margin: 0 0 40px;
	}

	@media (max-width: 479px) {
		margin: 0 0 24px;
	}
}

.preview__container {
	display: grid;

	@media (min-width: 1400px) {
		padding-top: 192px;
		padding-bottom: 64px;
	}

	@media (max-width: 1399px) {
		padding-top: 128px;
		padding-bottom: 64px;
	}

	@media (max-width: 1023px) {
		padding-bottom: 40px;
	}

	@media (min-width: 1200px) {
		min-height: 100vh;
	}

	@media (max-width: 479px) {
		padding-top: 24px;
		padding-bottom: 24px;
	}
}

.preview__wrapper {
	display: grid;
	align-self: center;
	justify-self: start;
	margin: 0 0 80px;
	width: 100%;

	@media (min-width: 1200px) {
		max-width: 560px;
	}

	@media (max-width: 1199px) {
		max-width: 460px;
	}

	@media (max-width: 479px) {
		margin: 0 0 40px;
		max-width: 360px;
	}
}

.preview__title {
	display: inline;
	margin: 0;
	font-family: $accent-font;
	font-weight: 400;

	@media (min-width: 1200px) {
		font-size: 70px;
		line-height: 90px;
	}

	@media (max-width: 1199px) {
		font-size: 50px;
		line-height: 70px;
	}

	@media (max-width: 1023px) {
		font-size: 70px;
		line-height: 90px;
		color: $alternate-color;
	}

	@media (max-width: 599px) {
		font-size: 50px;
		line-height: 70px;
	}

	@media (max-width: 479px) {
		font-size: 36px;
		line-height: 48px;
		color: $default-color;
	}
}

.preview__info {
	display: inline-block;
	margin-left: 10px;
	border-radius: 60px;
	font-family: $default-font;
	color: $alternate-color;
	background-color: $accent-color;

	strong {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		grid-column-gap: 12px;
		font-weight: 500;

		span {
			font-weight: 500;
		}
	}

	@media (min-width: 1200px) {
		padding: 16px 24px;

		strong {
			font-size: 38px;
			line-height: 38px;

			span {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	@media (max-width: 1199px) {
		padding: 12px 16px;

		strong {
			font-size: 24px;
			line-height: 24px;

			span {
				font-size: 10px;
				line-height: 12px;
			}
		}
	}

	@media (max-width: 1023px) {
		padding: 16px 24px;

		strong {
			font-size: 38px;
			line-height: 38px;

			span {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	@media (max-width: 599px) {
		padding: 12px 16px;

		strong {
			font-size: 24px;
			line-height: 24px;

			span {
				font-size: 10px;
				line-height: 12px;
			}
		}
	}

	@media (max-width: 479px) {
		padding: 6px 8px;

		strong {
			grid-column-gap: 6px;
			font-size: 24px;
			line-height: 24px;

			span {
				font-size: 10px;
				line-height: 12px;
			}
		}
	}
}

.preview__list {
	display: flex;
	flex-wrap: wrap;
	align-self: end;
	justify-self: start;
	list-style: none;
	padding: 0;
	width: 100%;

	@media (min-width: 1200px) {
		margin: -10px;
		max-width: 560px;
	}

	@media (max-width: 1199px) {
		margin: -5px;
		max-width: 460px;
	}
}

.preview__item {
	@media (min-width: 1200px) {
		margin: 10px;
	}

	@media (max-width: 1199px) {
		margin: 5px;
	}
}

.preview__link {
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	grid-column-gap: 10px;
	border-radius: 30px;
	font-weight: 800;
	text-transform: uppercase;
	color: $default-color;
	background-color: $background-color;
	transition: color .1s, background-color .1s;

	// svg {
	// 	width: 0;
	// 	fill: $alternate-color;
	// 	transition: width .2s;
	// }

	&:hover,
	&:focus {
		color: $alternate-color;
		background-color: $accent-color;

		// svg {
		// 	display: flex;
		// 	width: 12px;
		// 	transition: width .2s;
		// }
	}

	@media (min-width: 1200px) {
		padding: 10px 20px;
		font-size: 16px;
		line-height: 22px;
	}

	@media (max-width: 1199px) {
		padding: 8px 16px;
		font-size: 12px;
		line-height: 16px;
	}

	@media (max-width: 479px) {
		padding: 6px 12px;
		font-size: 10px;
		line-height: 12px;
	}
}

.preview__background {
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
	width: calc(50% - 20px);
	height: 100%;

	&::before {
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, .5) 14.04%, rgba(0, 0, 0, 0) 27.98%);
	}

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media (max-width: 1023px) {
		width: 100%;

		&::before {
			background-color: #2d2d2d;
			opacity: .5;
		}
	}

	@media (max-width: 479px) {
		position: relative;
		order: -1;
		margin-top: 64px;
		height: 180px;

		&::before {
			display: none;
		}
	}
}
