extends ../layout.pug

block const
	- const headerNoIndex = 'header--no-index';

block meta
	title Дизайн интерьера дома на рублево-успенском шоссе | СВК ГРУППА
	meta(name="description", content="Дизайн интерьера дома на рублево-успенском шоссе")
block content
	include ../blocks/portfolio-work

block prepend page-bottom
