extends ../layout.pug

block const
	- const headerNoIndex = 'header--no-index';

block meta
	title Кресло комфорт | СВК ГРУППА
	meta(name="description", content="Кресло комфорт")
block content
	include ../blocks/product

block prepend page-bottom
