$font-weight: 500;
$font-style: normal;
$font-size: 16px;
$default-font: "Manrope", "Arial", sans-serif;
$accent-font: "Ledger", "Times New Roman", serif;
$line-height: 1.2;
$default-color: #2d2d2d;
$default-color-60: rgba(45, 45, 45, .6);
$default-color-20: rgba(45, 45, 45, .2);
$alternate-color: #fff;
$accent-color: #ff5600;
$accent-color-h: #db4a00;
$error-color: #f00;
$checkbox: #d5d5d5;
$background-color: #f8f8f8;
$border-color: #e6e6e6;
$body-color: #fff;
